@@ -1,23 +0,0 @@
# Bot Token [Required]
BOT_TOKEN=

# Mongo Database Connection String [Required]
MONGO_CONNECTION=MONGO_CONNECTION=mongodb+srv://sanjay123:sanjay123@cluster0.nkdzhox.mongodb.net/?retryWrites=true&w=majority


# Webhooks [Optional]
ERROR_LOGS=https://discord.com/api/webhooks/1056574290390159440/LEAqiFIHYyxMP1XN1cuRHQzpgURChVK2oSwxGLhOuNAJc4OOcuRjwSr-S0-MFcf3ov5Y
JOIN_LEAVE_LOGS=https://discord.com/api/webhooks/1056574290390159440/LEAqiFIHYyxMP1XN1cuRHQzpgURChVK2oSwxGLhOuNAJc4OOcuRjwSr-S0-MFcf3ov5Y

# Dashboard [Required for dashboard]
BOT_SECRET=
SESSION_PASSWORD=

# Required for Weather Command (https://weatherstack.com)
WEATHERSTACK_KEY=

# Required for image commands (https://strangeapi.fun/docs)
STRANGE_API_KEY=NjM5ZDllMjMwYTBiY2Y5OTUxMDg2NDZm.c1EXEwTMhMvQCMekHv9UxgKZpNasTIIXbR8Eixy4jw

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=